.tweets-wrapper {
    margin-top: 50px;
}

.user-description {
    margin-left: 15px;
}

.user-description span:first-child {
    font-weight: bold;
    font-size: 1.1em;
    display: block;
}

.no-decoration {
    text-decoration: none !important;
}
